<% include partials/header%>
    <form action="/todoapp/<%=usertodo._id%>" method="POST">
        <ul>
            <li><textarea name="hobby" id="" cols="30" rows="10" placeholder="hobbies"></textarea></li>
            <li><input type="text" name="image" placeholder="imageurl"> </li>
            <li><input type="submit" value="Add to hobbies"></li>
        </ul>
        </form>
        hello <%=usertodo.username%>
        <%usertodo.todo.forEach(function(todo){%>
                <%=todo.hobby%>
        <%})%>
    
<% include partials/footer%>