<% include partials/header%>
<div id="lastback_img">
        <div id="lastcontent">
            <ul id="lastcont">
            <li class="lastcont1" ><h1>Do you want to <span id="border1">create your hobby</span> account withus?</h1></li>
            <li class="lastcont3" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <li id="lastbtn"><a href="/user/signup"><h3>SIGN UP</h3></a></li>
            
            </ul>
        </div>
    </div>
<% include partials/footer%>