<% include partials/header%>
<div id="formcontainer">
    <div id="formcont">
        <h1 class="formheader">sign in</h1>
        <ul id="form">
            <form action="/user/login" method="GET">
               <li><input type="text" name="username" value="" placeholder="enter username..." class="input input1"></li> 
               <li> <input type="password" name="password" value="" placeholder="enter password..." class="input input2"></li>
                <li><button class="input input3">login</button></li>
            </form>
 </ul>
    </div>
</div>
<% include partials/footer%>