<% include partials/header%>
<div id="formcontainer">
<div id="formcont">
    <h1 class="formheader">Sign up</h1>
    <ul id="form">
<form action="/user/signup" method="POST">

    <li><input type="text" name="username" value="" placeholder="enter username..." class="input input1"></li>
    <li><input type="email" name="email" value="" placeholder="enter email..." class="input input2"></li>
    <li><input type="text" name="number" value="" placeholder="enter number..." class="input input4"></li>
    <li><input type="password" name="password" value="" placeholder="enter password..." class="input input4"></li>
    <li><button class="input input3">Sign up</button></li>
    
</form>
</ul>
</div>
</div>
<% include partials/footer%>